$clr-white: hsl(0, 0%, 100%);
$clr-white-90: hsla(0, 0%, 100%, 0.9);
$clr-white-67: hsla(0, 0%, 100%, 0.667);
$clr-white-33: hsla(0, 0%, 100%, 0.333);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-80: hsl(0, 0%, 80%);
$clr-neutral-60: hsl(0, 0%, 60%);
$clr-neutral-40: hsl(0, 0%, 40%);
$clr-neutral-20: hsl(0, 0%, 20%);

$clr-field-revealed: hsl(30, 57%, 76%);
$clr-field-revealed-alternative: hsl(30, 44%, 72%);

$clr-field: hsl(80, 63%, 58%);
$clr-field-alternative: hsl(81, 60%, 55%);
$clr-field-hover: hsl(81, 60%, 75%);

$clr-header: hsl(95, 45%, 32%);

$clr-end-screen: hsl(200, 98%, 64%);

$clr-score: hsl(45, 100%, 50%);