@import "sass/colors";

$fieldSize: 40px;

.field {
  align-items: center;
  background-color: $clr-neutral-80;
  display: flex;
  height: #{$fieldSize};
  justify-content: center;
  width: #{$fieldSize};

  &:hover {
    background-color: $clr-neutral-60;
  }
}