@import "sass/colors";

$fieldSize: 30px;

.field {
  align-items: center;
  display: flex;
  height: #{$fieldSize};
  justify-content: center;
  width: #{$fieldSize};

  & > .content {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;

    &[data-value="0"] {
      display: none;
    }

    &[data-value="1"] {
      color: blue;
    }
  
    &[data-value="2"] {
      color: green;
    }
  
    &[data-value="3"] {
      color: red;
    }
  
    &[data-value="4"] {
      color: purple;
    }
  
    &[data-value="5"] {
      color: orange;
    }
  
    &[data-value="6"] {
      color: lime;
    }
  
    &[data-value="7"] {
      color: grey;
    }
  
    &[data-value="8"] {
      color: black;
    }

    &[data-isFlagged=true] {
      color: red;
    }
  }
}